// Public styles
// Load bootstrap
// Bootstrap: grid system
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../node_modules/bootstrap/scss/bootstrap-utilities.scss";

// Load Fontawesome
$fa-font-path: "../../assets/webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";

/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.ef-cpt-meta-img-galleries__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 5px;

	li {
		margin-bottom: 0;
	}

	span {
		display: inline-block;
		width: 75px;
		height: 75px;
		background-size: cover;
		background-position: top center;
	}
}
